@charset "utf-8";

/* CURTIS' CSS CODE */
html, body {
      /* so we don't have that weird horizontal scroll bar */
      overflow-x: hidden;
    }

    body {
      background-image: none;
      background-color: rgb(2, 164, 125);
    }

    #logo {
      position: relative;
      left:10%;
    }

    .logo-text {
      /*font-size: 70px;*/
      color: rgb(255, 255, 255);
      font-family: Lobster;
    }

    #slogan {
      position: relative;
      display: inline-block;
      width: 80%;
      margin-left: 15%;
      white-space: nowrap;
      /*left:13%;*/
      /*margin-left: 12%;*/
    }

    #about {
      position: relative;
      display: inline-block;
      /*left:50%;*/
      /*padding-left: 10%;*/
      /*text-decoration: underline;*/
    }

    #contact_us {
      position: relative;
      display: inline-block;
      /*left:55%;*/
      /*padding-left: 10%;*/
      /*text-decoration: underline;*/
    }

    .headerbar-text {
      /*font-size: 35px;*/
      color: rgb(255, 255, 255);
      font-family: Lobster;
    }

    #banner {
      width: 80%;
      margin-left: 10%;
      white-space: nowrap;
    }

    #box {
      width: 80%;
      margin-top: 5px;
      margin-left: 10%;
      padding-top: 25px;
      /*display: inline-block;*/
      /*-webkit-box-shadow: rgba(0, 0, 0, 0.74902) 7px 7px 48px 4px;*/
      box-shadow: rgba(0, 0, 0, 0.74902) 7px 7px 48px 4px;
      background-image: none;
      background-color: rgb(255, 255, 255);
    }

    .list-element {
      color: rgb(0, 0, 0);
      margin-left: 30%;
      padding-top: 3%;
      padding-bottom: 3%;
      background-image: none;
      background-color: rgb(255, 255, 255);
    }

    .list-name {
      font-size: 40px;
      font-family: Montserrat;
      text-shadow: rgb(221, 221, 221) 2px 2px;
    }

    .list-bottom-line {
      background-image: none;
      background-color: rgb(255, 255, 255);
    }

    .list-change {
      color: rgb(34, 34, 34);
      font-family: Montserrat;
      line-height: 17.7272720336914px;
      widows: 1;
      font-size: 18px;
      background-color: rgb(255, 255, 255);
      width: auto;
    }

    .green {
      color: rgb(0, 187, 0)
    }

    .red {
      color: rgb(204, 0, 0)
    }

    .list-link {
      font-size: 18px;
      border-color: rgb(0, 0, 238);
      color: rgb(0, 0, 238);
      line-height: 17.7272720336914px;
      outline-color: rgb(0, 0, 238);
      text-decoration: underline;
      widows: 1;
      width: auto;
    }

    .list-link-text {
      font-family: Montserrat;
    }

    .social_media_icon {
      width: 40px;
      height: 40px;
    }
