@charset "utf-8";

/* CURTIS' CSS CODE */
html, body {
      /* the 100%s and 0 were implicit */
    }

    body {
      background-image: none;
      background-color: rgb(2, 164, 125);
    }

    #logo {
      position: absolute;
      display: inline-block;
      width: 230px;
      height: 88px;
      left: 129.555692667988px;
      top: 12.4652173913034px;
    }

    .logo-text {
      font-size: 70px;
      color: rgb(254, 251, 245);
      font-family: Lobster;
    }

    #about {
      position: absolute;
      display: inline-block;
      left: 70%;
      top: 10%;
    }

    #contact_us {
      position: absolute;
      display: inline-block;
      left: 80%;
      top: 10%;
    }

    #slogan {
      position: absolute;
      /*display: inline-block;*/
      left: 363px;
      top: 86px;
    }

    .headerbar-text {
      font-size: 35px;
      color: rgb(254, 251, 245);
      font-family: Lobster;
    }

    #box {
      width: 90%;
      margin-left: 5%;
      margin-top: 10%;
      -webkit-box-shadow: rgba(0, 0, 0, 0.74902) 7px 7px 48px 4px;
      box-shadow: rgba(0, 0, 0, 0.74902) 7px 7px 48px 4px;
      background-image: none;
      background-color: rgb(254, 251, 245);
    }

    .list-element {
      color: rgb(0, 0, 0);
      margin-left: 40%;
      margin-bottom: 2%;
      background-image: none;
      background-color: rgb(254, 251, 245);
    }

    .list-name {
      font-size: 40px;
      font-family: Montserrat;
      text-shadow: rgb(221, 221, 221) 2px 2px;
    }

    .list-bottom-line {
      height: 23px;
      width: 531.359375px;
      background-image: none;
      background-color: rgb(254, 251, 245);
    }

    .list-change {
      color: rgb(34, 34, 34);
      font-family: Montserrat;
      line-height: 17.7272720336914px;
      widows: 1;
      font-size: 20px;
      background-color: rgb(255, 255, 255);
      width: auto;
    }

    .list-link {
      font-size: 18px;
      border-color: rgb(0, 0, 238);
      color: rgb(0, 0, 238);
      line-height: 17.7272720336914px;
      outline-color: rgb(0, 0, 238);
      text-decoration: underline;
      widows: 1;
      width: auto;
    }

    .list-link-text {
      font-family: Montserrat;
    }

  /* THE DEFAULT MIDDLEMAN CSS
  body {
    background: #d4d4d4 url("../images/background.png");
    text-align: center;
    font-family: sans-serif; }

  h1 {
    color: rgba(0, 0, 0, .3);
    font-weight: bold;
    font-size: 32px;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    background: url("../images/middleman.png") no-repeat center 100px;
    padding: 350px 0 10px;
    margin: 0; }

  .doc {
    font-size: 14px;
    margin: 0; }
    .doc:before,
    .doc:after {
      opacity: .2;
      padding: 6px;
      font-style: normal;
      position: relative;
      content: "•"; }
    .doc a {
      color: rgba(0, 0, 0, 0.3); }
      .doc a:hover {
        color: #666; }

  .welcome {
    -webkit-animation-name: welcome;
    -webkit-animation-duration: .9s; }

  @-webkit-keyframes welcome {
    from {
      -webkit-transform: scale(0);
      opacity: 0;
    }
    50% {
     -webkit-transform: scale(0);
     opacity: 0;
    }
    82.5% {
      -webkit-transform: scale(1.03);
      -webkit-animation-timing-function: ease-out;
      opacity: 1;
    }
    to {
      -webkit-transform: scale(1);
    }
  } */
