---
title: peopole
---
<div id="headerbar">
  <div id="logo"><span class="logo-text" ><a class="header-link" href="./">peopole.</a></span></div>

  <div id="slogan"><span class="headerbar-text">the most talked about people today</span></div>

  <div id="about"><span class="headerbar-text"><a class="header-link" href="about.html">about</a></span></div>

  <div id="contact"><span class="headerbar-text"><a class="header-link" href="contact.html">contact us</a></span></div>
</div>

<div id="box">

  <div class="about-text-box">

    <h1 class="about-headers">What is peopole?</h1>
    <p class="about-text">
      peopole is a brand new way to visualize the news. Typically the average news reader will be presented with news stories
      which could be about anything, but when looking for current events on peopole the reader will be presented with the most
      talked about people in the news. By ranking the most talked about people we provide the reader with who is important
      and why they are currently in the spotlight.
    </p>

    <h1 class="about-headers">How does it work?</h1>
    <p class="about-text">
      The top 50 people are ranked in descending order based on how many times they have been featured in a news article in the past 24 hours.<br><br>

      When clicking on any of the people ranked, peopole provides the user with the top news article about that person.<br><br>

      Every day when a new list of people is generated the user will see their ranking compared to yesterday's ranking providing a "power ranking" feel.
    </p>

    <h1 class="about-headers">Who are we?</h1>
    <p class="about-text">
      We are Coverless Software:<br><br><br>

      Curtis Matthias - Lead Designer / Front End Developer<br><br>

      Sebastian Craig - Lowly Programmer
    </p>

  </div>

</div>
</a>
