---
title: peopole
---
<div id="headerbar">
  <div id="logo"><span class="logo-text" ><a class="header-link" href="./">peopole.</a></span></div>

  <div id="slogan"><span class="headerbar-text">the most talked about people today</span></div>

  <div id="about"><span class="headerbar-text"><a class="header-link" href="about.html">about</a></span></div>

  <div id="contact"><span class="headerbar-text"><a class="header-link" href="contact.html">contact us</a></span></div>
</div>

<div id="box">

  <div class="contact-text-box">

    <h1 class="contact-headers">Contact us!</h1>
    <p class="contact-text">
      We're always looking for suggestions on how to improve peopole. If there's anything you'd like to see on our site, let us know! You can reach us by email at:<br><br><br>

      coverless.info@gmail.com<br>
    </p>

    <h1 class="contact-headers">Is there a name missing?</h1>
    <p class="contact-text">
      Does it seem like there's someone who should be on our list and isn't there? They might not have been picked up when we compiled our list or simply didn't make the cut for the day.
      Either way, let us know if you think there's a big name we are missing!<br>
    </p>

    <h1 class="contact-headers">We're on social media!</h1>
    <p class="contact-text">
      For peopole news, you can reach us on social media:<br><br><br>

      <a class="socialmedia-link" href="https://www.facebook.com/peopole-228091120921186" target="_blank">peopole's Facebook</a><br><br>

      <a class="socialmedia-link" href="https://twitter.com/coverlessinc" target="_blank">Coverless' Twitter</a>
    </p>

  </div>

</div>
</a>
