---
title: peopole
---

<div id="logo"><span class="logo-text">peopole.</span></div>

<div id="about"><span class="headerbar-text">about</span></div>

<div id="contact_us"><span class="headerbar-text">contact us</span></div>

<div id="slogan"><span class="headerbar-text">the most talked about people today</span></div>

<div id="box">

  <!-- For each thing in the list add an entry -->
  <!-- TODO -> LOOKS UGLY AT THE MOMENT -->
  <%
    date = Time.new
    day = date.day.to_s.length == 1 ? "0" + date.day.to_s : date.day.to_s
    month = date.month.to_s.length == 1 ? "0" + date.month.to_s : date.month.to_s
    results = Dir.pwd + "/logs/#{date.year}-#{month}-#{day}.txt"
    begin
      f = File.open(results, "r");
    rescue
      yesterday = date - (60 * 60 * 24)
      day = yesterday.day.to_s.length == 1 ? "0" + yesterday.day.to_s : yesterday.day.to_s
      month = yesterday.month.to_s.length == 1 ? "0" + yesterday.month.to_s : yesterday.month.to_s
      results = Dir.pwd + "/logs/#{yesterday.year}-#{month}-#{day}.txt"
      f = File.open(results, "r");
    end
    a = f.read().split("\n");
    count = 0;
    for entry in a do
      count += 1;
      clean = entry.split(";", 3); name = clean[0];
      link = clean[1].split(";")[1]; title = clean[1].split(";")[0];
  %>
      <div class="list-element">
        <span class="list-name"> <%= count %>. <%= name %> </span>
        <div class="list-bottom-line"><span class="list-change">(▲7)</span>
          <a href ="<%= link %>" target="_blank">
            <!-- TODO -> Make the link title relevant -->
            <a1 class="list-link-text"><%= title %></a1><a>
        </div>
      </div>
  <% end %>

</div> <!-- End the 'box' div -->
