---
title: peopole
---

<!--
<div class="welcome">
  <h1>Middleman is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p>
</div> -->


<div id="logo"><span class="logo-text">peopole.</span></div>

<div id="about"><span class="headerbar-text">about</span></div>

<div id="contact_us"><span class="headerbar-text">contact us</span></div>

<div id="slogan"><span class="headerbar-text">the most talked about people today</span></div>

<div id="box">

  <!-- For each thing in the list add an entry -->
  <%
    # f = File.open("#{File.expand_path("..", Dir.pwd)}/withArticles.txt", "r");
    f = File.open("#{Dir.pwd}/logs/2015-07-31.txt", "r");
    a = f.read().split("\n");
    count = 0;
    for entry in a do count += 1;
      clean = entry.split(":"); name = clean[0]; link = clean[1].split(";")[1];  %>
      <div class="list-element">
        <span class="list-name"> <%= count %> <%= name %> </span>
        <div class="list-bottom-line"><span class="list-change">(▲7)</span>
          <a href ="<%=link %>" target="_blank">
            <a1 class="list-link-text">Whatever the articles is..</a1><a>
        </div>

      </div>
  <% end %>




</div> <!-- End the 'box' div -->
